
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 2</b></center> 
Vaishvi Vachhani
24010101290
<pre>

### 01) WAP to print “Hello World..!!”

In [1]:
print("Hello World..!!")

Hello World..!!

### 02) WAP to accept your name and display a welcome message.
#### Input: Priya
#### Output: Hello Priya, welcome to Python Lab.

In [4]:
name=input("Enter name")
print(f"hello {name}, welcome to Python Lab")

Enter name priya

hello priya, welcome to Python Lab

### 03) WAP to accept three integers and display the numbers, their sum, and average.
#### Input: 10 20 30
#### Output: 
##### Numbers: 10 20 30
##### Sum: 60
##### Average: 20.0

In [9]:
a=int(input("enter a:"))
b=int(input("enter b:"))
c=int(input("enter c:"))
sum=(a+b+c)
print(f"sum:{sum}")
avg=((sum)/3)
print(f"avg:{avg}")

enter a: 10
enter b: 20
enter c: 30

sum:60
avg:20.0

### 04) WAP to accept name (string), age (int), and percentage (float).
#### Input : Riya,18,92.5
#### Output : 
##### Name: Riya  Type: <class 'str'>
##### Age: 18  Type: <class 'int'>
##### Percentage: 92.5  Type: <class 'float'>

In [11]:
name=input("Enter name:")
age=int(input("Enter age:"))
per=float(input("Enter percentage:"))
print(f"Name:{name}")
print(type(name))
print(f"Age:{age}")
print(type(age))
print(f"Percentage:{per}")
print(type(per))

Enter name: Riya
Enter age: 18
Enter percentage: 92.5

Name:Riya
<class 'str'>
Age:18
<class 'int'>
Percentage:92.5
<class 'float'>

### 05) WAP to print folowing message using custom separator and end.
#### Ouutput : Python | Programming | Basics###

In [22]:
print("Python", "Programming","Basics",sep="|",end="###")

Python|Programming|Basics###

### 06) WAP to accept a value and display its value, type, and memory id.
#### Input : hello
#### Output : 
##### Value: hello
##### Type: <class 'str'>
##### ID: 140712345678912

In [24]:
name=input("enter value:")
print(f"Value:{name}")
print("Type:",type(name))
print("ID:",id(name))

enter value: hello

Value:hello
Type: <class 'str'>
ID: 2769780870192

### 07) WAP to assign a value to a variable, print id, reassign a new value, and print id again.
#### Output :
##### Original ID of a: 140712345678912
##### New ID of a: 140712345678960

In [27]:
x=10
print("Original ID of x:",id(x))
x=20
print("New ID of x:",id(x))

Original ID of x: 140723702379720
New ID of x: 140723702380040

### 08) WAP to print multiple lines using a single print().
#### Output:
##### Welcome to Python
##### This is the second lab
##### Enjoy coding!

In [25]:
print('''Welcome to Python
This is the second lab
Enjoy coding!''')

Welcome to Python
This is the second lab
Enjoy coding!

### 09) WAP to display following table of items with proper alignment.
#### Output :
| Sr No | Name        | Subject | Grade | Percentage |
| ----: | ----------- | ------- | :---: | ---------: |
|     1 | Nisha Patel | Math    |   A   |         92 |
|     2 | Aarav Modi  | Science |   B+  |         85 |
|     3 | Jiya Shah   | English |   A+  |         96 |

In [41]:
print(f"{'SrNo':>7}{'Name':^15}{'Subject':12}{'Grade':^7}{'Percentage':>15}")
print(f"{'1':>7}{'Nisha Patel':^15}{'Math':12}{'A':^7}{'92':>15}")
print(f"{'2':>7}{'Aarav Modi':^15}{'Science':12}{'B+':^7}{'85':>15}")
print(f"{'3':>7}{'Jiya Shah':^15}{'English':12}{'A+':^7}{'96':>15}")

   SrNo     Name      Subject      Grade      Percentage
      1  Nisha Patel  Math           A                92
      2  Aarav Modi   Science       B+                85
      3   Jiya Shah   English       A+                96

### 10) WAP to accept a float number and display with 2 decimals, 3 decimals, and width 10.
#### Input : 37.2567
#### Output :
##### 2 decimals: 37.26
##### 3 decimals: 37.257
##### Width 10:      37.26

In [43]:
num = float(input("enter a number:"))
print(f"2 decimals: {num:.2f}")
print(f"3decimals: {num:.3f}")
print(f"width: {num:10.2f}")

enter a number: 37.2567

2 decimals: 37.26
3decimals: 37.257
width:      37.26

### 11) WAP to accept two integers and display sum, difference, and product using f-strings.
#### Input : 12 8
#### Output :
##### Sum = 20
##### Difference = 4
##### Product = 96

In [49]:
a,b=input("enter integer a,b:").split()
a = int(a)
b = int(b)
sum=(a+b)
dif=(a-b)
pro=(a*b)
print(f"Sum:{sum}")
print(f"Difference:{dif}")
print(f"Product:{pro}")

enter integer a,b: 12 8

Sum:20
Difference:4
Product:96

### 12) WAP to accept date in dd mm yyyy format and display in multiple formats.
#### Input : 01 12 2025
#### Output :
##### 01/12/2025
##### 2025-12-01

In [52]:
a,b,c=input("enter date in dd mm yyyy:").split()
a = int(a)
b = int(b)
c = int(c)

_IncompleteInputError: incomplete input (1756981582.py, line 6)

### 13) WAP to calculate area and perimeter of a circle.

In [1]:
r=int(input("enter no.:"))
PI=3.14
area=PI*r*r
peri=PI*r*2
print(f"AREA:{area}")
print(f"PERIMETER:{peri}")

enter no.: 3

AREA:28.259999999999998
PERIMETER:18.84

### 14) WAP to convert degree into Fahrenheit and vice versa.

In [2]:
c=int(input("enter degree:"))
f=(c*(9/5))+32
print(f"Fahrenhite:{f}")

enter degree: 20

Fahrenhite:68.0

### 15) WAP to get the distance from user into kilometer, and convert it into meter, feet, inches and centimeter.

In [3]:
a=int(input("enter distance in km:"))
meter=a/1000
centimeter=meter/100
inch=centimeter/2.5
feet=inch/12
print(f"Meter:{meter}")
print(f"Centimeter:{centimeter}")
print(f"Inch:{inch}")
print(f"Feet:{feet}")

enter distance in km: 1

Meter:0.001
Centimeter:1e-05
Inch:4.000000000000001e-06
Feet:3.333333333333334e-07